.container {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  padding-left: 150px;
}
.title {
}
.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}
.buttons {
  display: flex;
  margin-top: 69px;
}
.button1 {
  width: 189px;
  text-align: center;
  padding: 10px;
  background: #111b47;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.button2 {
  background-color: transparent;
  margin-left: 30px;
  width: 189px;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  border: 2px solid #091133;
  box-sizing: border-box;
}
