.container {
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

}
.navlinks{
display: flex;

}
.link{

  display: flex;
}
.linka{
  margin-left: 3vw;
  margin-right: 3vw;

}
.button{
  background-color: #111B47;
  color: #FFFFFF;
  padding: 8px 60px;
  font-size: 12px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}
